/* Add a background color to the header element */
header {background-color: aquamarine;}
h1 {color: teal}
/* Add a fun background color to the main element */
main {background-color: #1d0657;color: lightcoral}
/* Align the h1 containing your name in the center of the header*/
h1 {text-align: center;}
/* Make your p tag a different color and italic */
p {font-style:italic}
p {color: #000000;}
/* Put a border around your image */
img {border: 5px solid black; width: 700px;}
/* Change the font-family of your list */
ul {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
/* Add a background color to the footer element */
footer {background-color: aquamarine; text-align: center;}